@import '../Variables/Variables.scss';


.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b4a81;
    width: 200px;
    margin: 10px auto 10px 15px;
    padding: 10px;
    transition: 0.5s;

    &:hover {
        background-color: #2f00db;
        transition: 0.5s;
    }
}


.wrappers {
    display: flex;
    align-items: center;
    background-color: #1b4a81;
    width: 200px;
    margin: 10px auto 10px 15px;
    padding: 10px;
    transition: 0.5s;


    &:hover {
        background-color: #2f00db;
        transition: 0.5s;
    }
}

.text {
    color: $textColor;
    margin-left: 5px;
}

.margin {
    margin: 10px auto 10px 25px;
    background-color: #223347;



}

.team {
    color: $textColor;
    // margin-left: 30px;
    list-style: none;
    position: relative;
}

.team::before {
    content: "";
    position: absolute;
    display: inline-block;
    background-color: rgb(224, 169, 169);
    width: 23px;
    height: 11px;
    top: 4.5px;
    left: -76px;
}

.team2::before {
    width: 13px;
    background-color: pink;
    left: -76.5px;
}

.team3::before {
    width: 13px;
    background-color: pink;
    left: -53px;
}

.team4::before {
    left: -59.5px;
}

// .margin:nth-child(even) {
//     background-color: rgb(82, 51, 51);
// }