@import '../Variables/Variables.scss';

.container {
    margin: 20px;
    border-radius: 20px;
    width: 400px;
    background-color: #141623;
    padding: 20px;

    .title {
        color: $textColor;
        margin-bottom: 10px;
    }

    .box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1380ff;
        width: 200px;
        padding: 10px;
        transition: 0.5s;

        &:hover {
            background-color: #2f00db;
            transition: 0.5s;
        }

    }

    .treeText {
        color: $textColor;
        margin-left: 5px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b4a81;
    width: 200px;
    margin: 10px auto 10px 15px;
    padding: 10px;
    transition: 0.5s;

    &:hover {
        background-color: $hoverColor;
        transition: 0.5s;
    }

    // .wrapper:nth-child(even) {
    //     background-color: rgb(109, 76, 76);

    //     &:hover {
    //         background-color: $hoverColor;
    //         transition: 0.5s;
    //     }
    // }
}

.text {
    color: $textColor;
    margin-left: 5px;
}

.attached {
    color: $textColor;
}

.border {
    border-left: 4px solid grey;
    margin-left: 15px;

    .team {
        color: $textColor;
        list-style: none;
        position: relative;
    }

    .team::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-color: $lineColor;
        width: 23px;
        height: 11px;
        top: 4.5px;
        left: -76px;
    }

    .team2::before {
        width: 13px;
        background-color: pink;
        left: -76.5px;
    }

    .team3::before {
        width: 13px;
        background-color: pink;
        left: -53px;
    }

    .team4::before {
        left: -59.5px;
    }

    .analyticsProgrammers {
        margin-left: 25px;
        background-color: rgb(87, 56, 143);

        &:hover {
            background-color: $hoverColor;
            transition: 0.5s;
        }
    }



    .items {
        margin-left: 25px;


        .listlineAnalytics {
            border-left: 4px solid grey;
        }

        .wrappers {
            display: flex;
            align-items: center;
            background-color: #1b4a81;
            width: 200px;
            margin: 10px auto 10px 15px;
            padding: 10px;
            transition: 0.5s;

            &:hover {
                background-color: #2f00db;
                transition: 0.5s;
            }
        }

        .wrappers:nth-child(even) {
            background-color: red;

            &:hover {
                background-color: #0f0f11;
                transition: 0.5s;
            }
        }

        .list {
            list-style: none;
            position: relative;
        }

        .list::before {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: $lineColor;
            width: 13px;
            height: 11px;
            top: 4.5px;
            left: -30px;
        }
    }
}

.listlinesComponent {
    border-left: 4px solid grey;
}

.listsComponent {
    list-style: none;
    position: relative;
}

.listsComponent::before {
    content: "";
    position: absolute;
    display: block;
    background-color: $lineColor;
    width: 13px;
    height: 11px;
    top: 13.5px;
}