@import '../Variables/Variables.scss';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 20px;
    border-radius: 20px;
    width: 400px;
    background-color: #141623;
    padding: 20px;

    @media(max-width: 420px) {
        width: auto;
    }

    @media(max-width: 350px) {
        padding: 10px;
    }

    .title {
        color: $textColor;
        margin-bottom: 10px;

        @media(max-width: 350px) {
            font-size: 28px;
        }
    }

    .box {
        @include flexCenter();
        background-color: #023e8a;
        width: 200px;
        padding: 10px;
        transition: 0.5s;

        &:hover {
            background-color: $hoverColor;
            transition: 0.5s;
        }
    }

    .treeText {
        color: $textColor;
        margin-left: 5px;
    }

    .borderLineComponent {
        border-left: 4px solid $lineColor;
    }
    
    .line {
        list-style: none;
        position: relative;
    }
    
    .line::before {
        content: "";
        position: absolute;
        display: block;
        background-color: #3d5afe;
        width: 13px;
        height: 11px;
        top: 13.5px;
    }
    
    .evenSub {
        background-color: #0096c7;
    }
}

.wrapper {
    @include flexCenter();
    background-color: #164f6e;
    width: 200px;
    margin: 10px auto 10px 15px;
    padding: 10px;
    transition: 0.5s;

    &:hover {
        background-color: $hoverColor;
        transition: 0.5s;
    }

    .subdivisionText {
        color: $textColor;
        margin-left: 5px;
        font-weight: 600;
    }

}

.borderLine {
    border-left: 4px solid $lineColor;
    margin-left: 15px;
    list-style: none;


    .color {
        background-color: #483f9b;

        &:nth-child(even) {
            background-color: #5c7175;
        }

        &:hover {
            background-color: $hoverColor;
            transition: 0.5s;
        }
    }

    .line {
        color: $textColor;
        position: relative;
    }

    .line::before {
        content: "";
        position: absolute;
        display: inline-block;
        background-color: $lineColor;
        width: 23px;
        height: 11px;
        top: 4.5px;
        left: -76px;
        background-color: #3d5afe;
    }

    .line2::before {
        width: 13px;
        left: -77px;
    }

    .line3::before {
        width: 13px;
        left: -53px;
    }

    .line4::before {
        left: -59.5px;
    }

    .analyticsProgrammers {
        margin-left: 25px;
        background-color: #6b78a1;

        &:hover {
            background-color: $hoverColor;
            transition: 0.5s;
        }
    }

    .even:nth-child(1) {
        background-color: #254b8b;
        transition: 0.5s;
    }

    .even:hover {
        background-color: $hoverColor;
        transition: 0.5s;
    }

    .items {
        margin-left: 25px;

        .listlineAnalytics {
            border-left: 4px solid $lineColor;
        }

        .wrappers {
            display: flex;
            align-items: center;
            background-color: #252a30;
            width: 200px;
            margin: 10px auto 10px 15px;
            padding: 10px;
            transition: 0.5s;

            &:hover {
                background-color: $hoverColor;
                transition: 0.5s;
            }
        }

        .wrappers:nth-child(even) {
            background-color: #ADC8FF;

            &:hover {
                background-color: $hoverColor;
                transition: 0.5s;
            }
        }

        .list {
            list-style: none;
            position: relative;
        }

        .list::before {
            content: "";
            position: absolute;
            display: inline-block;
            background-color: #304ffe;
            width: 13px;
            height: 11px;
            top: 4.5px;
            left: -30px;
        }
    }
}